<footer class="footer bg-dark py-3 mt-auto">
    <div class="container ">
        <div style="display: inline; float:inline-start;" class="md-5">
            <a href="#" style="text-decoration:none">
            <form class="form mt-auto" action="/about_us" method="GET">
            <button class="btn btn-dark">About Us</button>
        </form>
    </a>
    <a href="#" style="text-decoration:none">
                <form class="form mt-auto" action="/contact_us" method="GET">
                        <button class="btn btn-dark">Contact Us</button>
                    </form>
                </a>
     </div>
        
        <span style="display: inline; float: right;" class="text-muted">&copy; Skillathon-2021</span>
    </div>
</footer>