<% layout ('/layouts/boilerplate')%>
<div class="row mt-5">
    <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">About Us</h1>
</div>
<p style="margin-left: 50px; 
  margin-right: 50px;">Skillathon is a web application to help entrepreneurs by increasing their visibility to
    potential investors and providing them a platform to validate their skill-sets.
    We provide a platform for budding entrepreneurs to meet potential investors according
    to their products and vice-versa. The budding entrepreneurs are also
    able to register their startup/idea can also list if they need to recruit people with their required skill sets,
    and we will accordingly curate job opportunities for the user. We also
    have quizzes on different essential skill sets across different fields and award badges to job seekers.
</p>