<% layout ('/layouts/boilerplate')%>
<div class="row mt-5">
    <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">Contact Us</h1>
</div>
<p>For any queries or suggestions, please contact us at:
    <br>
    <br>
    harshitagg0310@gmail.com<br>
    s26dishasharma1905@gmail.com<br>
    ishanagarwal1002@gmail.com</p>
</p>