<% layout ('/layouts/boilerplate')%>
<div class="d-flex flex-column mt-3 mb-3">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="font-family: Montserrat; color: black;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/4492126/pexels-photo-4492126.jpeg?cs=srgb&dl=pexels-artem-podrez-4492126.jpg&fm=jpg" class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="top: 50%;transform: translateY(-50%);bottom: initial;">
                <h1 style="color:black; font-weight: 800;">Educate</h1>
                <p style="font-size: x-large; color:black; font-weight: 800;">Learn and test your skills</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption" style="top: 50%;transform: translateY(-50%);bottom: initial;">
                <h1 style="color:black; font-weight: 800;">Innovate</h1>
                <p style="font-size: x-large; color:black; font-weight: 800;">Get funding for your ideas and products</p>
            </div>
            <img src="https://images.pexels.com/photos/3861446/pexels-photo-3861446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100 h-100" alt="...">
            
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="top: 50%;transform: translateY(-50%);bottom: initial;">
                <h1 style="color:black; font-weight: 800;">Invest</h1>
                <p style="font-size: x-large; color:black; font-weight: 800;">Find the right venture for your money</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="top: 50%;transform: translateY(-50%);bottom: initial;">
                <h1 style="color:black; font-weight: 800;">Hire</h1>
                <p style="font-size: x-large; color:black; font-weight: 800;">Hire the best talent for your firm</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
    </a>
</div>
<hr class="hr">
<div id="whoWeAre">
    <div class="row mt-5">
        <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">Who Are We?</h1>
    </div>
    <div class="row">
        <div class="card col-5 offset-auto mt-4" style="background-color: darkorange;padding: 3%;">
            <p class="h5">We are a team of three final-year students of the B. Tech-Computer Science programme offered by Maharaja Agrasen Institute of Technology. </p><br/>
            <p class="h5">Our motivation behind this initiative was to provide startups the visibility and resources they need to succeed.</p><br/>
            <p class="h5">We truly believe that, if developed in the right direction, such smaller-scale portals can help entrepreneurs avail opportunities locally as well as help them in getting the right inputs that they will need in their ventures moving forward</p>
        </div>
        <div class="card col-5 offset-2 mt-4" style="background-color:white">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://yt3.ggpht.com/ytc/AKedOLR_6wKZhmRxVEfhoZ0P3YtIscvtEtj5GDVaDJp2=s900-c-k-c0x00ffffff-no-rj"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
        </div>
    </div>

</div>
<hr class="hr">
<div id="whySkillathon">
<div class="row mt-5">
    <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">Why Skillathon?</h1>
</div>
<div class="d-flex mt-5" style="align-self: center;padding: 3%;">
    
    <div class="card text-white bg-dark mb-3" style="max-width: 25rem; padding: 1%;">
        <img src="https://images.pexels.com/photos/1181533/pexels-photo-1181533.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
        
        <div class="card-body">
            <h5 class="card-title">Makes job search easy!</h5>
            <p class="card-text">Helps you find jobs according to your skills, and to test your skills with our curated quizzes.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
        <img src="https://images.pexels.com/photos/4792266/pexels-photo-4792266.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
        
        <div class="card-body">
            <h5 class="card-title">Finds investors interested in you!</h5>
            <p class="card-text">Helps you find investors looking for ideas in your domain and profile, curated by your preference.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
        <img src="https://images.pexels.com/photos/1569076/pexels-photo-1569076.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
        
        <div class="card-body">
            <h5 class="card-title">Curates investment opportunities!</h5>
            <p class="card-text">Helps you look for new ideas and entrpreneurs that need your resources, according to your preference.</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
        <img src="https://images.pexels.com/photos/5668842/pexels-photo-5668842.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="card-img-top" alt="...">
        
        <div class="card-body">
            <h5 class="card-title">Helps you hire the best!</h5>
            <p class="card-text">Helps you recruit talent according to your needs, your job profiles, and your preferred locations</p>
        </div>
    </div>
</div>
</div>


<div class="mapouter" style="align-self:center;" id="locate">
    <div class="row mt-2 mb-1">
        <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">Locate Us</h1>
    </div>
    <div class="gmap_canvas"><iframe width="500px" height="350px" id="gmap_canvas"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13995.978612309975!2d77.0660904!3d28.7197058!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4ce5551f8ac8360!2sMaharaja%20Agrasen%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1638206112981!5m2!1sen!2sin"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 600px;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 600px;
        }
    </style>
</div>
</div>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-158e0fc6-2367-47e5-a5af-3c4df47e2991"></div>