<% layout ('/layouts/boilerplate_admin')%>
        <h1>MY PROFILE</h1>
        <table class="table">
            <tr class="table-dark">
                <th>Name</th>
                <th>Phone No.</th>
                <th>Email Address</th>
                
                
            </tr>
            
                
                <tr class="table-light">
                    <td><%= users.name %></td>
                    <td><%= users.phoneNo %></td>
                    <td><%= users.email %></td>
                    
                </tr>
              
       </table>
