<% layout ('/layouts/boilerplate_seeker')%>
<div class="d-flex mt-auto" style="align-self: center;">
    <div>
        <h1 style="font-family: Montserrat; font-weight: 800; color: darkorange;">C++ Programming Quiz</h1>
    </div>
    <div>
        <iframe src="https://www.riddle.com/view/285014" height="600px" width="1000px"></iframe>
    </div>
</div>