<% layout ('/layouts/boilerplate_seeker')%>
<div class="row">
    <div class="col-sm-6 mt-2 mb-1" style="background-color: darkorange; font-weight: 600; fill-opacity: 0.5;"">
        <div class="card">
            <div class="card-body" style="background-color: darkorange;">
                <h5 class="card-title">C++ Quiz</h5>
                <p class="card-text">Attempt 10 easy questions and earn badges- gold, silver or bronze!</p>
                <form class="form mt-auto" action="/seekers/quizCPP" method="GET">
                    <button class="btn btn-dark">Attempt Quiz</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6 offset-2 mt-1 mb-1" style="background-color: darkorange; font-weight: 600; fill-opacity: 0.5;"">
        <div class="card">
            <div class="card-body" style="background-color: darkorange;">
                <h5 class="card-title">HTML Quiz</h5>
                <p class="card-text">Attempt 10 easy questions and earn badges- gold, silver or bronze!</p>
                <form class="form mt-auto" action="/seekers/quizHTML" method="GET">
                    <button class="btn btn-dark">Attempt Quiz</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6 offset-4 mb-2 mt-1" style="background-color: darkorange; font-weight: 600; fill-opacity: 0.5;"">
        <div class="card">
            <div class="card-body" style="background-color: darkorange;">
                <h5 class="card-title">Python Quiz</h5>
                <p class="card-text">Attempt 10 easy questions and earn badges- gold, silver or bronze!</p>
                <form class="form mt-auto" action="/seekers/quizPy" method="GET">
                    <button class="btn btn-dark">Attempt Quiz</button>
                </form>
            </div>
        </div>
    </div>
</div>