<% layout ('/layouts/boilerplate_seeker')%>
    <div class="mt-auto">
        <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">Resume Building Tips</h1>
    </div>

    <div class="bg-text">
        <ul style="list-style-type:disc;margin-left: 60px;margin-top: 60px;margin-right: 70px;">
            <li style="font-size: 18px;"><b>
                    Consider using a professionally designed template. </b>
                <p style="font-size: 15px;">
                    Resume templates can save you a lot of time and effort. Imagine not having to fool around with
                    margins in Word. Pick a modern resume template out, and you’re ready to go.
                </p>
            </li>
            <li style="font-size: 18px;"><b>
                    Balance your text and white space. </b>
                <p>
                    All best-looking resumes need to be skimmable and clean. Balancing your text and white space is the
                    same thing as adding margins. It makes your resume aesthetically pleasing and easy to read. Do not
                    sacrifice white space in the name of fitting everything onto one page. There are other ways.
                </p>
            </li>
            <li style="font-size: 18px;"><b>
                    Tailor your resume to the job description. </b>
                <p>
                    Tailoring your resume is probably the king of resume tips. If you do nothing else, tailor your
                    resume to the job description. You do that by identifying keyword skills in the offer and then add
                    these skills throughout your resume. It sounds like a lot of work, but these keywords are what you
                    should put on your resume above all else. That’s because keywords are what hiring managers are
                    looking for when they scan your resume.
                </p>
            </li>
            <li style="font-size: 18px;"><b>
                    Add numbers and details wherever possible.</b>
                <p>
                    Adding numbers and details to emphasize skills is by far one of the best resume tips you can follow.
                    Anytime you can illustrate an achievement or skill with numbers or details - do it.
                </p>
            </li>
            <li style="font-size: 18px;"><b>
                    Include a resume summary or objective.</b>
                <p>
                    Include a resume summary or a resume objective. It’s three sentences of who you are, where you’re
                    going, and why you’ll bring value to the company.
                </p>
            </li>
            <li style="font-size: 18px;"><b>
                    Consider adding a Hobbies and Interest section to your resume. </b>
                <p>
                    If you have space, hobbies and interests can be great additions to your resume. That’s because
                    companies are beginning to emphasize work culture. Which makes finding a candidate with a fitting
                    personality increasingly important.
                </p>
            </li>
        </ul>
        </ul>

    </div>

    <div class="col-md-12">

    </div>