<% layout ('/layouts/boilerplate_seeker')%>

<div class="bg-text">
    <div class="mt-auto"><h1 class="text-center" style="color: darkorange;font-family: Montserrat; font-weight: 800;">Scholarship Opportunities</h1></div>
    <ul style="list-style-type:disc;margin-left: 60px;margin-top: 60px;margin-right: 70px;">
        <li style="font-size: 18px;"><b>
                Amazon Women In Innovation Bursary</b>
            <p>
                Amazon’s women in Innovation Bursary aims to help empower more from less-advantaged backgrounds
                with the education they need to enter the tech industry. Recipients can get up to £30,000 per year to
                fund their studies and will be provided with mentoring from an Amazon women staff-member.
            </p>
        </li>
        <li style="font-size: 18px;"><b>
                Adobe women Research-in-Technology Scholarship</b>
            <p>
                Adobe is a major name in software, and their Adobe Research-in-Technology Scholarship is available
                to female students based anywhere across the globe. It offers a single payment towards tuition fees, a
                Creative Cloud subscription membership for 12 months, an Adobe Research mentor and a chance to interview
                for an Adobe internship.
            </p>
        </li>
        <li style="font-size: 18px;"><b>
                Sky in Technology</b>
            <p>
                Sky launched its in Technology Scholars grant in 2017. This provides three between ages
                18-25 with the funding and mentoring to create a bespoke tech project.
            </p>
        </li>
        <li style="font-size: 18px;"><b>
             Techmakers Scholars Program</b>
            <p>
                Originally known as the Google Anita Borg Memorial Scholarship Program, the Techmakers Scholars
                Program is open to from Europe, North America, the Middle-East, Africa and Asia Pacific.
                Scholarships are awarded based on’s academic performance and include invitations to the large
             Techmakers Scholars’ Retreat
            </p>
        </li>
        <li style="font-size: 18px;"><b>
                University of Birmingham Scholarships in Computer Science</b>
            <p>
                The University of Birmingham School of Computer Science provides scholarships for undergraduates and
                postgraduates for EU and international.
            </p>
        </li>
        <li style="font-size: 18px;"><b>
                Booking.com in Technology </b>
            <p>
                Booking.com, one of the biggest online travel businesses in the world, offers the new Booking.com
                in Technology Scholarships. This initiative lasts two years and aims to provide the support
                interested in technology-focused employment need.
            </p>
        </li>
        <li style="font-size: 18px;"><b>
                Science Ambassador Scholarship</b>
            <p>
                Science Ambassador Scholarship is funded by Cards Against Humanity. This is a full-tuition scholarship
                for any studying science, tech, engineering or math, and it is available for non-US citizens, too.
            </p>
        </li>
    </ul>
    </ul>

</div>