<% layout ('/layouts/boilerplate')%>
    <h1>SECRET</h1>
    <h1>user.name</h1>
    <form action="/logout" method="POST">
        <div class="form-group">
        <button>LOGOUT</button>
        </div>
    </form>
