<% layout ('/layouts/boilerplate_seeker')%>
<div class="mt-auto">
    <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">Latest Skills That You Should Learn
    </h1>
</div>
<div class="bg-text">
    <ol style="list-style-type:disc;margin-left: 60px;margin-top: 90px;margin-right: 70px;">
        <li style="font-size: 18px;"><b>
                Blockchain </b>

        </li>
        <li style="font-size: 18px;"><b>
                Cloud and distributed computing </b>

        </li>
        <li style="font-size: 18px;"><b>
                Analytical reasoning</b>

        </li>
        <li style="font-size: 18px;"><b>
                Artificial Intelligence</b>

        </li>
        <li style="font-size: 18px;"><b>
                UX design</b>

        </li>
        <li style="font-size: 18px;"><b>
                Business analysis </b>

        </li>
        <li style="font-size: 18px;"><b>
                Video production</b>

        </li>
        <li style="font-size: 18px;"><b>
                Photoshop</b>

        </li>
        <li style="font-size: 18px;"><b>
                Social Media Marketing</b>
        </li>
    </ol>

</div>